---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from "astro:content";
import * as YAML from "yaml";
import StrongHeader from "../../components/StrongHeader.astro";
import TagReference from "../../components/TagReference.astro";
import Layout from "../../layouts/Regular.astro";
import BlockLink from "./BlockLink.astro";
import BlockMedia from "./BlockMedia.astro";
import BlockParagraph from "./BlockParagraph.astro";

export const getStaticPaths = (async () => {
  return await getCollection("works").then((works) =>
    works
      .flatMap(({ id, data: { metadata } }) => [
        id,
        ...(metadata.aliases ?? []),
      ])
      .map((id) => ({ params: { work: encodeURIComponent(id) } })),
  );
}) satisfies GetStaticPaths;

// lone row: the cell is the only one of its kind in all of the rows it's in
const isLoneRow = (cell: string, layout: string[][]) =>
  layout.some((row) => row.every((c) => c === cell)) &&
  !layout.some((row) => row.includes(cell) && !row.every((c) => c === cell));

const hasMediaRowBefore = (
  cell: string,
  layout: string[][],
  blocks: { id: string; type: string }[],
) =>
  layout
    // keep all rows up to the current one
    .slice(
      0,
      layout.findIndex((row) => row.includes(cell)),
    )
    // search for a media-type block in the row's cells
    .some((row) =>
      row.some((cell) => blocks.find((b) => b.id === cell)?.type === "media"),
    );

console.log(`Getting entry:

raw: ${Astro.params.work} 
dec: ${decodeURI(Astro.params.work!.toString())}
`);

const entry = await getEntry("works", decodeURI(Astro.params.work!.toString()));
if (!entry) return Astro.rewrite("/404");

const {
  metadata,
  metadata: { tags, wip, colors },
} = entry.data;

const content = Object.keys(entry.data.content).includes("default")
  ? { fr: entry.data.content.default, en: entry.data.content.default }
  : entry.data.content;

const madeWith = await Promise.all(
  metadata.madeWith?.map((tech) => getEntry("technologies", tech.id)) ?? [],
).then((techs) => techs.filter((x) => !!x));

const { blocks, layout, footnotes } =
  Object.entries(content).find(([lang]) => lang === Astro.locals.lang)?.[1] ??
  Object.values(content)[0];

const layoutWidth = Math.max(...layout.map((row) => new Set(row).size));

/**
 * Screen width below which the layout switches to a single column.
 * Depends on how wide the layout is, since the goal is to prevent ridiculously small images.
 * This equation was derived from the following constraints:
 * - 500 = m * 2 + p (cutoff at 500px for 2-cell wide layouts)
 * - 700 = m * 3 + p (cutoff at 700px for 3-cell wide layouts)
 */
const portraitModeCutoff = 200 * layoutWidth + 100;

const cssGridAreas = layout
  .map((row) => '"' + row.map((cell) => `_${cell}`).join(" ") + '"')
  .join(" ");
---

<Layout colors={colors}>
  <StrongHeader
    back="/"
    editButton={entry.data.source}
    title={{ fr: content.fr?.title, en: content.en?.title }}
    wip={wip}
  >
    <section class="tags">
      <ul>
        {tags?.map((tag) => <TagReference tag={tag} />)}
      </ul>
    </section>
  </StrongHeader>

  <main>
    {
      (
        <section style={`grid-template-areas: ${cssGridAreas}; `}>
          {blocks.map((block) => (
            <div
              id={block.anchor || undefined}
              class={`block ${isLoneRow(block.id, layout) && hasMediaRowBefore(block.id, layout, blocks) ? "indent" : ""}`}
              data-type={block.type}
              data-block-id={block.id}
              style={`grid-area: _${block.id}`}
            >
              {block.type === "paragraph" && <BlockParagraph {...block} />}
              {block.type === "link" && <BlockLink {...block} />}
              {block.type === "media" && <BlockMedia {...block} />}
            </div>
          ))}
        </section>
      )
    }
  </main>

  {
    madeWith && madeWith.length > 0 && (
      <section class="made-with">
        <h2 i18n>made with</h2>
        <ul class="technologies">
          {madeWith.map(({ id, data: { name } }) => (
            <li>
              <a href={`/using/${id}`}>{name}</a>
            </li>
          ))}
        </ul>
      </section>
    )
  }

  {
    Object.keys(footnotes).length ? (
      <section class="footnotes">
        <h2 i18n>footnotes</h2>
        <ul>
          {Object.entries(footnotes).map(([id, content]) => (
            <li id={`fn:${id}`}>
              <code>{id}. </code>
              <span
                set:html={content.replace(/^<p>/, "").replace(/<\/p>$/, "")}
              />
            </li>
          ))}
        </ul>
      </section>
    ) : null
  }

  <section slot="afterfooter" class="metadata">
    <div class="swatches">
      {
        Object.entries(colors ?? {}).map(([name, color], i) => (
          <code
            class="swatch"
            style={`background-color: ${color}; color: var(--${name === "primary" ? "secondary" : "primary"}, black)`}
          >
            #{i + 1}
          </code>
        ))
      }
    </div>
  </section>
</Layout>

<div
  set:html={`<style>@media (min-width: ${portraitModeCutoff}px) {
    main > section {
      display: ${cssGridAreas ? "grid" : "block"} !important;
    }

    .block[data-type="media"] :global(img, video) {
      object-position: left;
      /* max-height: 60vh; */
    }

    .block[data-type="paragraph"].indent {
      margin-left: 2em;
    }

    .block {
      min-height: 0;
      min-width: 0;
    }
  }</style>`}
/>

<style>
  .tags ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
  }

  main > section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 80rem;
  }

  @media (min-width: 800px) {
    main > section {
      margin-right: 7rem;
    }
  }

  section.made-with h2 {
    font-size: 2.8em;
  }
  section.made-with {
    font-size: 1.7rem;
  }
  section.made-with ul {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  section.footnotes {
    font-size: 1.7rem;
  }

  section.footnotes h2 {
    margin-bottom: 0.5em;
  }

  pre,
  code {
    font-family:
      Victor Mono,
      monospace;
  }

  section.metadata pre {
    opacity: 0.5;
  }

  .block[data-type="paragraph"] :global(li) {
    margin-bottom: 0.5em;
  }
  .block[data-type="paragraph"] :global(a:hover, a:focus-visible) {
    /* Otherwise it breaks text flow on hover/focus */
    font-weight: normal;
  }

  .block[data-type="paragraph"] :global(blockquote) {
    margin: 0.5em 0;
    padding-left: 1em;
    border-left: 4px solid color-mix(in srgb, var(--primary) 50%, transparent);
    opacity: 0.8;
  }

  .swatches {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .swatches .swatch {
    padding: 0.5em 1em;
    transition: transform 0.125s ease;
  }
</style>
