---
import type { InferEntrySchema } from "astro:content";
import { imageAttrs } from "../media";

type Block =
  InferEntrySchema<"works">["content"][keyof InferEntrySchema<"works">["content"]]["blocks"][number];

interface Props extends Block {}

const { alt, caption, attributes, contentType, dimensions } = Astro.props;
const generalContentType = contentType?.split("/")[0] ?? "";

const attrs = imageAttrs(Astro.props);
---

<figure>
  {
    generalContentType === "image" && (
      <a href={attrs.src}>
        <img
          src={attrs.src}
          srcset={attrs.srcset}
          alt={alt}
          height={dimensions.height}
          width={dimensions.width}
        />
      </a>
    )
  }
  {
    generalContentType === "video" && (
      <video
        {...attributes}
        height={dimensions.height}
        width={dimensions.width}
      >
        <source src={attrs.src} type={contentType} />
      </video>
    )
  }
  {
    generalContentType === "audio" && (
      <audio {...attributes}>
        <source src={attrs.src} type={contentType} />
      </audio>
    )
  }
  {
    contentType === "application/pdf" && (
      <a href={attrs.src}>
        <img srcset={attrs.srcset} alt={alt} />
      </a>
    )
  }

  {caption && <figcaption>{caption}</figcaption>}
</figure>

<style>
  figure {
    margin: 0;
  }
  figcaption {
    font-size: 1.3rem;
    margin-top: 0.5em;
    font-family:
      Victor Mono,
      monospace;
    font-style: italic;
  }
  img,
  video,
  audio {
    display: block;
    max-width: 100%;
    object-fit: contain;
    height: fit-content;
  }
</style>
