---
import YAML from "yaml";
import { getCollection } from "astro:content";
import Bare from "./Bare.astro";
import { setCssColors } from "../colors";
import Navigation from "../components/Navigation.astro";

interface Props {
  /**
   * Colors to use for the layout.
   * Sets CSS variables --primary, --secondary, and ---tertiary.
   */
  colors?: { primary: string; secondary: string; tertiary: string };
  /**
   * Client-side redirect URL.
   */
  clientSideRedirect?: string;
}
---

<Bare
  htmlAttributes={{
    lang: Astro.locals.locale || Astro.locals.lang,
    style: setCssColors(Astro.props.colors),
  }}
>
  {
    Astro.props.clientSideRedirect ? (
      <Fragment slot="head">
        <title>Redirecting to {Astro.props.clientSideRedirect}</title>
        <meta
          http-equiv="refresh"
          content={`0; url=${Astro.props.clientSideRedirect}`}
        />
        <link rel="canonical" href={Astro.props.clientSideRedirect} />
      </Fragment>
    ) : (
      <title slot="head">gwen.works</title>
    )
  }
  <Navigation />
  <slot />
  <footer>
    <p>
      made with <a href="/ortfo">ortfo/db</a> &amp; <a
        href="https://astro.build">astro</a
      >
    </p>

    <p>&lt;3 Gwenn {new Date().getFullYear()}</p>

    <p>generative ai cannot make art</p>

    <ul>
      {
        (await getCollection("sites")).map(
          ({ data: { name, url, purpose } }) => (
            <>
              <li>
                <a href={url}>{`/to/${name}`.padEnd(15)}</a>
                <span class="purpose">{purpose}</span>
              </li>
            </>
          ),
        )
      }
    </ul>

    <section class="technical">
      <slot name="technical-pre" />
      {
        Astro.locals.buildCommit && (
          <a
            href={`https://github.com/gwennlbh/portfolio/commit/${Astro.locals.buildCommit}`}
          >
            <pre>{Astro.locals.buildCommit?.slice(0, 8)}</pre>
          </a>
        )
      }
      <pre>loc {Astro.locals.locale}</pre>
      <pre>lng {Astro.locals.lang}</pre>
      <slot name="technical-post" />
    </section>
  </footer>
</Bare>

<style>
  footer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    /* XXX: same as work pages' main section max-width */
    max-width: 80rem;
    gap: 3rem;
    padding: 2rem;
    font-family:
      Victor Mono,
      monospace;
  }

  footer,
  footer :global(a) {
    color: var(--tertiary, white);
    background-color: var(--primary, black);
  }

  footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    list-style: none;
    padding: 0;
  }

  footer ul a {
    white-space: pre;
  }

  footer ul .purpose {
    font-style: italic;
    opacity: 0.75;
  }

  footer .technical {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
  }

  :global(p, p > *) {
    line-height: 1.2;
  }
  :global(ul, li, h1, h2, p) {
    padding: 0;
    margin: 0;
  }
  :global(pre) {
    font-family: inherit;
    font-size: 1em;
  }
  :global(a:not(.block-link)) {
    color: var(--primary, black);
    text-underline-offset: 5px;
    text-decoration-thickness: 1.5px;
    transition: all 0.125s;
  }
  :global(a:not(.block-link):hover, a:not(.block-link):focus-visible) {
    font-weight: bold;
    text-underline-offset: calc(5px - 1px);
    text-decoration-thickness: 3px;
  }
  :global(ul) {
    list-style: none;
  }
  :global(ul li::before) {
    content: "— ";
    opacity: 0.5;
    font-weight: bold;
  }
  body {
    --pad: 2rem;
    padding: var(--pad);
    width: calc(100% - 2 * var(--pad));
    height: calc(100% - 2 * var(--pad));
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
